.flagsContainer {
  justify-self: center;
  width: 70%;
}

.flagContainer {
  border-radius: 10px;
  background: white;
  margin-bottom: 15%;
  overflow: hidden;
}

.flagContainer img {
  width: 100%;
}

.flagContainerInfo {
  padding: 10%;
}

.flagContainerInfo h3 {
  margin: 10% 0;
}

.flagContainerInfo p {
  font-weight: 600;
}

.flagContainerInfo p span {
  font-weight: 300;
}

.darkFlagContainer {
  background-color: var(--dark-mode-elements);
  color: white;
}
