.Header {
  align-items: center;
  background-color: var(--dark-mode-text-light-mode-elements);
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 5%;
}

.Header p {
  font-weight: 700;
}

.Darkmode {
  display: flex;
  justify-content: flex-end;
}

.Darkmode p {
  font-weight: 600;
}

.moonsvg {
  width: 9%;
  padding: 0 5%;
}
